@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";

.brand {
  text-decoration: none;
  color: $productImageBorder;
}
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.image-ul {
  margin-left: $base-product-margin-left;
}
.normal-img-container {
  margin: 30px 15px;
}
.alt-img-container {
  margin-top: -40px;
  width: 40px;
  display: flex;
  align-items: center;
}
.small-img-container {
  background-color: $defaultWhite;
  border-radius: 8px;
  height: auto;
  padding: 0;
  width: 40px;
  margin-bottom: 5px;
}
.small-img {
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.small-img-container.active {
  background-color: $productImageBorder;
}
.all-img-container {
  display: grid;
  grid-template-columns: 50px 2.5fr 2fr 1fr;
}

.product-overview {
  margin-left: $base-product-margin-left;
}

.post-container {
  @extend %container;
  background-color: $backgroundPrimary;
  display: flex;
  justify-content: center;
}
.post-content {
  margin: $base-margin;
  padding: $base-padding;
  max-width: 45rem;
  background-color: $backgroundSecondary;
}
.post-title {
  margin: $base-margin;
  font-weight: bold;
  font-size: $base-font-size * 2;
  text-align: center;
}
.post-content img {
  margin: $base-margin 0;
}

@include xs {
  .all-img-container {
    grid-template-columns: 50px 3fr 2fr 1fr;
  }
}
@include sm {
  .all-img-container {
    grid-template-columns: 50px 3fr 2fr 1fr;
  }
}
@include md {
  .all-img-container {
    grid-template-columns: 50px 3fr 2fr 1fr;
  }
}
@include lg {
  .all-img-container {
    grid-template-columns: 50px 2.5fr 2fr 1fr;
  }
}
