@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";
@import "../sassStyling/gridSystem";

.brands-container {
  border: $base-border-thickness solid $brandsBorder;
  padding: 10px;
  margin: 10px;
}

.brand-group {
  border-bottom: $base-border-thickness solid $brandsBorder;
  margin: 20px;
}

.brand-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 10px;
}

.brand-item {
  margin-bottom: 5px;
}

/* Additional styling for links */
.brand-item a {
  text-decoration: none;
  color: $brandsText;
  font-size: $base-font-size * 0.75;
}

.letter-header {
  border-bottom: $base-border-thickness solid $brandsBorder;
  width: 100%;
  font-weight: bold;
  font-size: large;
  color: $brandsHeaders;
  margin: 5px 0;
}

