@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";

.post-submitted-card {
  background-color: $backgroundSecondary;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 400px;
  padding: $base-padding;
}

.submit-details h3 > a {
  text-decoration: none;
  color: $secondary;
}
