//site
$backgroundPrimary: #f6ffde;
$backgroundSecondary: hsl(77, 51%, 89%);
$text: #222831;
$navbarBackground: hsl(120, 5%, 32%);
$navbarText: #eeeeee;
$footer: #c9dbb2;
$items: #fff;
//btn
$primary: #c3bef0;
$secondary: #cca8e9;
$primaryText: #1c1c1c;
$secondaryText: #1c1c1c;
$primaryHover: #fff;
$secondaryHover: #fff;
$primaryTextHover: #1c1c1c;
$secondaryTextHover: #1c1c1c;
$borderColor: grey;
$newsLetter: #aac8a7;
$arrowColor: white;
