.allItems-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0.75rem;
  padding-top: 5rem;
  box-sizing: border-box;
  background-color: #f6ffde;
}

.allItems-container {
  background-color: #f6ffde;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  padding: 0.75rem;
  margin: 0.75rem;
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.main-padding {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

.allpg-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-delete {
  display: inline;
}

.form-edit {
  display: inline;
}

.all-description {
  align-self: center;
  display: inline-block;
  margin-left: 1.125rem;
}

@media (min-width: 0) {
  .all-img {
    display: inline-block;
    width: 120px;
    height: 100px;
  }
  .allpg-btn {
    display: none;
  }
}
@media (min-width: 580px) {
  .all-img {
    display: inline-block;
    width: 150px;
    height: 120px;
  }
  .allpg-btn {
    display: flex;
  }
}
@media (min-width: 720px) {
  .all-img {
    display: inline-block;
    width: 250px;
    height: 200px;
  }
  .allpg-btn {
    display: flex;
  }
}
@media (min-width: 960px) {
  .all-img {
    display: inline-block;
    width: 350px;
    height: 300px;
  }
  .allpg-btn {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .all-img {
    display: inline-block;
    width: 350px;
    height: 300px;
  }
  .allpg-btn {
    display: flex;
  }
}
@media (min-width: 0) {
  .all-description {
    font-size: 0.7rem;
  }
}
@media (min-width: 580px) {
  .all-description {
    font-size: 0.75rem;
  }
}
@media (min-width: 720px) {
  .all-description {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  .all-description {
    font-size: 1rem;
  }
}