.post-submitted-card {
  background-color: hsl(77, 51%, 89%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 400px;
  padding: 0.75rem;
}

.submit-details h3 > a {
  text-decoration: none;
  color: #cca8e9;
}