.write-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0.75rem;
  padding-top: 5rem;
  box-sizing: border-box;
  background-color: #f6ffde;
}

.description-input, .title-input {
  padding: 0.375rem;
  border: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 250px;
  min-width: 150px;
}

.write-container {
  background-color: #f6ffde;
  display: flex;
  justify-content: center;
}

.editor {
  background-color: white;
}

.title-input {
  margin: 0.75rem 4px;
}

.description-input {
  margin: 0.75rem 4px;
}