.write-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0.75rem;
  padding-top: 5rem;
  box-sizing: border-box;
  background-color: #fff;
}

.description-input, .title-input {
  padding: 0.375rem;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 0.75rem;
}

.write-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.editor {
  background-color: white;
}

.title-input {
  margin: 0.75rem 4px;
}

.description-input {
  margin: 0.75rem 4px;
}